AWS_REGION = "us-east-1"
AWS_ACCESS_KEY_ID = "reemplazar"
AWS_SECRET_ACCESS_KEY = "reemplazar"
AWS_S3_BUCKET = "tu-bucket"
AWS_S3_PREFIX = "tfm-vino-cr"
BCCR_EMAIL = "correo@ejemplo.com"
BCCR_TOKEN = "reemplazar"
